# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Render / Heroku pid
*.pid
